<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-xs-offset-1 text-justify main">

            <h1><b> Welcome to Tixter :) </b></h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco l
                aboris nisi ut aliquip ex ea commodo consequat.</p>


            <div class="col-lg-offset-4" class="input-group">
                <button type="submit" class="btn btn-primary">CREATE EVENT</button>
            </div>
            <hr>
            <div class="col-lg-offset-4 input-group">
                <a href="#/browseEvents">Browse our Events Directory</a>
            </div>
        </div>
    </div>
</div>
