<nav class="navbar navbar-default navbar-custom navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><b>Form Maker</b></a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse collapse" id="navbar">
            <li>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
            <li ng-hide="currentUser"><a href="#/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li ng-show="currentUser"><a href="#/profile">{{currentUser.username}}</a></li>
            <li ng-hide="currentUser" ng-class="{'active': $location.url()=='/login'}">
                <a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ng-show="currentUser"><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
