.sidebar {
    background-image: url('bg.png');
}

/*a, a:focus, a:hover {*/
    /*color: #fffe11;*/
/*}*/

/*.nav > li > a:focus, .nav > li > a:hover {*/
    /*background-color: #150717;*/
/*}*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*.account-wall*/
/*{   color: #fffe11;*/
    /*margin-top: 20px;*/
    /*padding: 40px 40px 20px 10px;*/
    /*background-color: #0a1617;*/
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*}*/
.gradient-box
{   background-color: #dc923c;
    padding: 40px 10px 20px 10px;
    margin: 10px;
    -webkit-box-shadow: inset 14px 3px 17px -5px rgba(148, 193, 204, 0.58);
    -moz-box-shadow: inset 14px 3px 17px -5px rgba(192,188,194,0.58);
    box-shadow: inset 14px 3px 17px -5px rgba(190, 201, 204, 0.95);
}

.login-title
{
    color: #555;
    font-size: 50px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand, .navbar-custom .nav li a {
    color: #399599;
}

.navbar-custom .nav-tabs .nav .active, .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    background-color: #399599;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #399599;
    color: black;
}
.btn-primary {
    background-color: #399599;
    border-color: #3a3a04;
    color: black;
}
.btn-primary:hover {
    background-color: #c1cad3;
    border-color: black;
    color: black;
}

.main {
    padding: 30px;
}

.main form .form-group {
    text-align: left;
    margin-top: 20px;
}

.sidebar-xs {
    display: block;
}

#map {
    /*width: 950px;*/
    height:400px;
    margin-bottom: 30px;
}

.glyphicon{
    color : #dc923c;
}

#Event1Logo {
    margin : 20px;

}