<div class="panel-body">
    <h2 class="text-center title">Events Gallery</h2>
    <p class="lead text-center">
        Welcome to Tixter Event collection<br>
        <a href="#/createEvent">Create</a> your own event!
    </p>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-7">
            Search by category:
            <select ng-change="filterEvents(category)" class="form-control" ng-model="category" ng-options="option for option in categoryOptions">
            </select>
            <br><br>
        </div>
        <div class="col-sm-4" ng-repeat="event in events" ng-class="{'col-sm-offset-2': $index % 2 == 0}">
            <div class="thumbnail margin-bottom-2">
                <img ng-show="event.image" src="/Project/server/uploads/events/{{event.image}}">
                <img ng-hide="event.image" src="css/event_thumbnails/sshot3.jpg" alt="">
                <div class="caption">
                    <h2>
                        <a href="#/event/{{event._id}}">
                            <span ng-click="selectEvent(event)">{{event.title}}</span>
                        </a>
                    </h2>
                    <h5>{{event.location}}</h5>
                    <h5>{{event.startTime}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>