<h2 class="text-center title">Events Gallery</h2>
<p class="lead text-center">
    Welcome to Tixter Event collection<br>
    <a href="#/createEvent">Create</a> your own event!
</p>
<div class="row">
    <div class="col-sm-4" ng-repeat="div_event in events" ng-class="{'col-sm-offset-2': $index % 2 == 0}">
        <div class="thumbnail">
            <img src="css/event_thumbnails/sshot1.jpg" alt="">
            <div class="caption">
                <h2>
                    <a href="#/event/{{div_event._id}}">
                        <span ng-click="selectEvent(div_event)">{{div_event.title}}</span>
                    </a>
                </h2>
                <h5>{{div_event.location}}</h5>
                <h5>{{div_event.time_date}}</h5>
                <p>{{div_event.description}}</p>
            </div>
        </div>
    </div>
</div>