<div class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-12 col-xs-offset-2 main">
            <h1 class="page-header">Forms : Registration Form</h1>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#/events">Forms</a></li>
                    <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
                </ul>
            </div>
            <form role=form">
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">First Name</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" id="firstname" placeholder="First Name">
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Last Name</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Date of Birth</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="date" class="form-control" id="dob">
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Gender</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <select id="gender" class="form-control">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Roles</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div><input type="checkbox"> Admin</div>
                        <div><input type="checkbox"> Student</div>
                        <div><input type="checkbox"> User</div>
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">License Agreement</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div><input type="radio" name="radio"> Yes</div>
                        <div><input type="radio" name="radio"> No</div>
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Add new field :</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <select name="dropdown" class="form-control">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
