<div class="content">
    <div class="banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="event-logo" class="margin-top-1 margin-bottom-1 col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 hidden-sm hidden-xs transparent">
            <div ng-show="isOrganiser">
                <input type="file" value="Browse" id="event-img" name="event-image">
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h2 ng-hide="editMode">{{event.title}}</h2>
            <input class="margin-top-2" ng-show="editMode" type="text" ng-model="event.title">
            <h4 class="time"><span class="glyphicon glyphicon-time"></span> {{event.startTime}}</h4>
            <h4 class="location"><span class="glyphicon glyphicon-map-marker"></span> {{event.location}}</h4>
        </div>
        <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">
            <button ng-show="isOrganiser && !editMode" class="btn btn-sm" ng-click="editMode = true"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            <button ng-show="isOrganiser && editMode" class="btn btn-sm" ng-click="updateEvent(event)"><span class="glyphicon glyphicon-ok"></span> Done</button>
        </div>
    </div>
    <div class="panel col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <h3>Register for event</h3>
        </div>
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <table class="table table-bordered table-hover table-responsive text-center">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>E-Ticket - {{event.title}}</td>
                        <td>
                            <select ng-model="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        <td>Free</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Fee</div>
            <div class="col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-10 col-sm-1 col-sm-offset-8 col-xs-1 col-xs-offset-8">$0.00</div>
        </div>
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><strong>TOTAL</strong></div>
            <div class="col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-10 col-sm-1 col-sm-offset-8 col-xs-1 col-xs-offset-8">$0.00</div>
        </div>
        <div class="row margin-top-2 margin-bottom-2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 pull-right">
                <a href="#/event/{{event._id}}" class="btn btn-lg btn-success" role="button" ng-click="registerForEvent(event, quantity)">Book Now</a>
            </div>
            <div class="row margin-top-2 margin-bottom-2 col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 col-xs-offset-1">
                 <div ng-show="error" class="alert alert-warning" role="alert">{{error}}</div>
            </div>
        </div>
    </div>
    <div class="panel col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
            <h3>Event Details</h3>
            <p ng-hide="editMode">{{event.description}}</p>
            <textarea class="margin-bottom-2 col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="editMode" ng-model="event.description"></textarea>
            <h5 ng-show="isOrganiser && editMode">Total Capacity: {{event.totalCapacity}}</h5>
            <h5 ng-show="isOrganiser && editMode">Available seats: {{event.availableCapacity}}</h5>
            <p ng-show="isOrganiser && editMode">
                Add more seats: <input ng-show="isOrganiser && editMode" type="text" ng-model="additionalCapacity" placeholder="0">
            </p>

        </div>
    </div>
    <div class="panel col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
            <h3>Location</h3>
            <div id="map"></div>
        </div>
    </div>
    <div class="panel col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-justify">
            <h3>Organised By</h3>
            <div class="gradient-box">
                <h4><span ng-show="organiser.firstName">{{organiser.firstName}}</span> <span ng-show="organiser.lastName">{{organiser.lastName}}</span></h4>
                <h5><span ng-show="organiser.username">{{organiser.username}}</span></h5>
            </div>
        </div>
    </div>
</div>
