<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">About Tixter</h2>
                <h5 class="text-center">
                    Tixter World
                </h5>
                <p class="text-justify">
                    Create Events of your choice and sell them ANYWHERE. Or are you keen to be a part of intresting events around the City.
                    Welcome to Tixter World! Sign Up and enjoy all services we offer. Easy to use and manage all of the orders.
                </p>
                <p class="text-center"><a href="http://www.tixter.co.us">Start here</a></p>
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>
