<div class="container-fluid text-center">
    <div class="row content">
        <h1 class="text-center page-header">Events</h1>
        <div class="col-lg-4 col-md-6 col-md-offset-4 col-xs-offset-1 main">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/events">Events</a></li>
                <li role="presentation"><a href="#/fields">Fields</a></li>
            </ul>
            <table class="table table-bordered table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th class="col-sm-3"><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Event Name</th>
                    <th class="col-sm-3"><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Location</th>
                    <th class="col-sm-3"><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Date Time</th>
                    <th class="col-sm-2"><a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left"><input class="col" type="text" ng-model="event.title" id="eventtitle" placeholder="name"></td>
                    <td class="text-left"><input id="pac-input" class="controls" type="text" ng-model="event.location" placeholder="venue"></td>
                    <td class="text-left"><input class="col" type="text" ng-model="event.time_date" id="eventdateTime" placeholder="date"></td>
                    <td><a href="#/events"><span ng-click="addEvent(event)" class="glyphicon glyphicon-plus pull-left"></span></a>
                        <a href="#/events"><span ng-click="updateEvent(event)" class="glyphicon glyphicon-ok pull-right"></span></a></td>
                </tr>
                <tr ng-repeat="td_event in events">
                    <td class="text-left">{{td_event.title}}</td>
                    <td class="text-left">{{td_event.location}}</td>
                    <td class="text-left">{{td_event.time_date}}</td>
                    <td class="text-left"><a href="#/events" ><span ng-click="deleteEvent($index)" class="glyphicon glyphicon-remove pull-left"></span></a>
                        <a href="#/events"><span ng-click="selectEvent(td_event, $index)" class="glyphicon glyphicon-pencil pull-right"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
