<div class="row">
    <br>
    <br>
</div>
<div class="row banner">
    <div id="Eventlogo" class="col-lg-offset-1 col-md-4 bannerLogo transparent">
        <img id="Event1Logo" src="css/dummy-logo.png"/>
    </div>

    <div class="col-lg-offset-1 bannerContent">
        <h2>{{event.title}}</h2>
    </div>
    <p class="time">{{event.time_date}}</p>
    <p class="location">{{event.location}}</p>
    <div class="row">
        <div class="col-md-12"/>
    </div>
</div>
<div class="content">
    <div class="panel">
        <div class="row">
            <h3>Register for event</h3>
        </div>
        <div class="row col-md-offset-2">
            <table class="table table-bordered table-hover table-responsive text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>E-Ticket - {{event.title}}</td>
                        <td>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        <td>Free</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-9 hidden-xs"></div>
            <div class="col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-xs-9 col-lg-push-0">
                        <span class="txt-grey-14">Fee</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="pull-right">$0.00</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-xs-9 col-lg-push-0">
                        <strong class="txt-grey-14">TOTAL</strong>
                    </div>
                    <div class="col-xs-3">
                        <span class="pull-right">$0.00</span>
                    </div>

                </div>
                <hr>
                <div class="input-group pull-right">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="row col-md-offset-2 text-justify">
            <h3>Event Details</h3>
            <p>{{event.description}}</p>
        </div>
    </div>
    <div class="panel">
        <div class="row col-md-offset-2 text-justify">
            <h3>Location</h3>
            <div id="map"></div>
        </div>
    </div>
    <div class="panel">
        <div class="row col-md-offset-2 text-justify">
            <h3>About Organizer</h3>
            <div class="organizerContent col-xs-12 col-md-8">
                <p>
                    <span>RSVP to alice.wonderland@email.com</span>
                </p>
            </div>
            <div class="gradient-box col-xs-12 col-md-4">
                <ul>
                    <li class="web">
                        <span>http://www.alicewonderland.com</span>
                    </li>
                    <li class="tel">
                        <span>0450133937</span>
                    </li>
                    <li class="mail">
                        <a href="https://www.facebook.com/" target="_blank">facebook.com/?ref=hl</a>
                    </li>
                    <li class="mail">
                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered"
                                title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.b212c8422d3b3079acc6183618b32f10.en.html#dnt=true&id=twitter-widget-0&lang=en&screen_name=apf_broker&show_count=false&show_screen_name=true&size=m&time=1457338259362"
                                style="position: static; visibility: visible; width: 132px; height: 20px;" data-screen-name="apf_broker"/>
                    </li>
                    <li class="mail">
                        <a href="javascript:void(0);" id="triggerContact">Contact Organizer</a>
                    </li>
                    <li class="fb hide">Like us on Facebook</li>
                    <li class="tw hide">Follow us on Twitter</li>
                    <li class="other b-t-1 bold">
                        <a href="http://cs5610spring-amala.rhcloud.com/Project/"  target="_blank">View Other events</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>