<div ng-controller="ModalController">
    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-login-label">Tixter Login</h3>
                    <p>Not a member yet ?? <a class="page-scroll" data-dismiss="modal" data-toggle="modal" title="register" href="#modal-register">Sign Up</a></p>
                </div>

                <div class="modal-body">
                    <form class="form text-left">
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="email" class="form-control" ng-model="user.username" placeholder="email address">
                        </div>
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="password" class="form-control" ng-model="user.password" placeholder="password">
                        </div>
                        <div ng-show="message" class="alert alert-success form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" role="alert">{{message}}</div>
                        <div ng-show="error" class="alert alert-success form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" role="alert">{{error}}</div>
                        <div class="form-group row col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-3 input-group">
                            <button type="submit" ng-click="login(user)" class="btn">Sign in!</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">Tixter Register</h3>

                    <p> Already A User! <a class="page-scroll" data-dismiss="modal" data-toggle="modal"  href="#modal-login">Sign In</a> </p>
                </div>

                <div class="modal-body">
                    <form class="form text-left">
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="email" class="form-control" ng-model="user.username" placeholder="Email Address">
                        </div>
                        <div class="form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 input-group">
                            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
                        </div>
                        <div ng-show="message" class="alert alert-success form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" role="alert">{{message}}</div>
                        <div ng-show="error" class="alert alert-success form-group row col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" role="alert">{{error}}</div>
                        <div class="form-group row col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-6 col-xs-offset-3 input-group">
                            <button type="submit" ng-click="register(user)" class="btn">Register!</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Tixter</h2>
                    <p class="text-center">You have Subscribed for Our Newsletter</p>
                    <br/>
                    <button class="text-center btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>